# Core & Web
requests
aiohttp
asyncio-throttle
python-dotenv
beautifulsoup4

# Data Analysis & Numerics
numpy
pandas
scipy
yfinance

# Technical Analysis
TA-Lib
pandas_ta

# Machine Learning
scikit-learn
xgboost
lightgbm
# prophet
# tensorflow-cpu

# Database
psycopg2-binary

# Telegram
python-telegram-bot[httpx]

# Utilities
pytz