# requirements.txt (نسخه نهایی با KuCoin و ccxt)

# Telegram Bot Library
telepot

# Web Server for Deployment
fastapi
uvicorn

# Libraries for Analysis
pandas
sqlalchemy
psycopg2-binary
ta
matplotlib
requests

# Crypto Exchange Library (NEW)
ccxt